# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/

# Environment Variables & Secrets
.env
.env.local
*.secret
*.pem
*.key

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor files
.idea/
.vscode/

# Local databases
*.sqlite3
*.db
